.programmer-font {
    font-family: 'Roboto Mono', monospace;
}

.intro-font-size {
    font-size: x-large
}

::-moz-selection {
  color: rgb(209, 209, 209);
  background: rgb(43, 55, 82);
}

::selection {
  color: rgb(209, 209, 209);
  background: rgb(43, 55, 82);
}

.blur-background {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}